body {
  border-left: 6px solid black;
  border-right: 6px solid black;
  border-top: 25px solid black;
  border-bottom: 25px solid black;
  max-width: 500px;
  margin: auto;
}

.mylist {
  display: flex;
  flex-direction: column;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

form {
  border: 2px solid rgb(182, 176, 176);
}

.icon {
  width: 40px;
  height: 40px;
  padding-left: 460px;
}

/* #newLabel{
  margin: 0;
} */
.trashIcon {
  width: 30px;
  height: 30px;
  padding-left: 460px;
}

#rmv {
  display: flex;
}

.iconEdit {
  display: none;
}

.clear {
  padding-left: 180px;
  padding-right: 204px;
}
